body {
    display: flex;
    flex-direction: column;
    font-family: Georgia;
}
li, h1, h2, h3 {
    font-family: Georgia;
    color: #1DA1F2;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
}
figcaption {
    text-align: start;
    color: gray;
    opacity: 0.5;
}
table, th, td {
    border: 1px solid;
    width: 75%;
}
thead {
    font-weight: bold;
    background-color: #1DA1F2;
}
aside {
    flex: 1;
    overflow-y: auto;
}
footer {
    text-align: center;
    background-color: #1DA1F2;
    
}